PYTHONPATH=src
PTBXL_DATA_DIR=data/raw/ptb-xl
TCC2_EXTERNAL_REPOS_DIR=external
GEORGIA_DATA_DIR=data/raw/external/georgia
CODE15_DATA_DIR=data/raw/external/code15
MIMIC_IV_ECG_DATA_DIR=data/raw/external/mimic-iv-ecg
ICBEB2018_DATA_DIR=data/raw/external/icbeb2018
